html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
body {
background:url("/images/bg.png") repeat-x fixed center top #050505;
color:#6F6F6F;
font-family:Arial,sans-serif;
font-size:93.8%;
line-height:1.6em;
min-height:1230px;
}

ol, ul {
list-style:none outside none;
}

a, a:hover, a:visited{
	text-decoration:none;
}

:focus {
	outline: 0;
}

#wrapper {
margin:38px auto 0;
padding:0 0 0 14px;
width:1010px;
}

#topbar {
background:url("/images/topbar.png") no-repeat scroll 0 0 transparent;
font-size:0.733em;
height:17px;
line-height:21px;
width:922px;
padding:16px 28px;
border-bottom:1px solid #7a7a7a;
}

		#topbar ul {
		float:right;
		height:12px;
		line-height:10px;
		padding:2px 0 0 0;
		}
		
		#topbar ul li {
		float:left;
		margin:0 0 0 20px;
		}
		
		#topbar ul li span {
		color:#EBFFFD;
		font: normal 1.3em Arial,sans-serif;
		}
			
		#topbar ul li a {
	
		color:#8a8c8e;
		font: bold 1.3em Arial,sans-serif;
		text-decoration:underline;
		}
	
#masthead {
height:488px;
position:relative;
width:976px;
}

		#masthead #photo{
		background:url("/images/photo.jpg") no-repeat scroll 0 0 transparent;
		height:363px;
		position:relative;
		width:976px;
		border-left:1px solid #7a7a7a;
		border-right:1px solid #7a7a7a;
		border-bottom:1px solid #0e0e0d;
		}
	
	
		#masthead #nav {
		background:url("/images/bg_nav.png") repeat-x scroll 0 0 transparent;
		border:1px solid #FFF;	
		height:122px;
		line-height:1.2em;
/*		position:absolute;*/
		text-align:center;
		width:976px;
	
		}
		
#nav ul {
float:left;
height:122px;

}		
		#nav ul li {
		float:left;
		height:122px;
		
		}

		#nav ul li.activity {
		float:left;
		width:324px;
		border-right:1px solid #dfe1e8;
		}
		
		#nav ul li.contact {
		float:left;
		width:325px;
		border-right:1px solid #dfe1e8;
		min-width: 0;
		position: relative;
		}
		
		#nav ul li.other {
		float:left;
		width:325px;
		min-width: 0;
		position: relative;
		}			
		
				#nav ul li span {
				float:left;
				text-indent:-10000px;
background-repeat:no-repeat;
background-position:center center;
width:100%;
height:100%;				
				}
				
	#content {
	background:#FFF;
	border:1px solid #fff;
		width:976px;
	}
				
.curr_li { 
	background-color: white !important;
	background-image: none !important;
}	
.hover_li { background-image:url("/images/bg_nav_over.png"); }

.div1 {
	min-width: 0;
	position: relative;
	padding:0;	
	overflow:hidden;
	padding:0 0 28px 0;
}

.div1 p{
	padding:28px 28px 0 28px;
	overflow:hidden;	
}

	#footer {
	width:976px;
	text-align:center;	
	}
	
	#footer ul{
	text-align:center;
	}
				
		#footer ul li {
		float:left;
		height:122px;
		padding: 15px 7px;
		}	
		
		#footer p {
		padding: 15px 0 0 0;
		}	
		
		#lnx {
			padding:20px;
		}
		
		#lnx a{
			padding:5px;
		}		

#contacts, #social, #address{
	width:auto;
	}
	
	#contacts li,  #social li,  #address li{
	background-image:url("/images/contacts_icons.png?1");
	background-position:0 10px;
	background-repeat:no-repeat;
	min-height:38px;
	margin-bottom:16px;
	padding:2px 0 0 40px;		
	}
	
	#contacts li.mobphone {
	background-position:0 -40px;
	}	
	
	#contacts li.fax {
	background-position:0 -90px;
	}		
	
	#social li.mail {
	background-position:0 -140px;
	}	
	
	#social li.skype {
	background-position:0 -190px;
	}		
	
	#social li.icq {
	background-position:0 -240px;
	}	
	
	#address li.outlook {
	background-position:0 -290px;
	}		
	
	#address li.thebat {
	background-position:0 -290px;
	}	
		
	span.phone {
		font-weight:bold;
		color:#232323;
	}
	
	#social li a, #address li a {
		font-weight:bold;
		color:#232323;
		text-decoration:underline;
	}		
