%flex
    display: flex

%flex-jb
    @extend %flex
    justify-content: space-between

%flex-wrap
    @extend %flex
    flex-wrap: wrap

%flex-col
    @extend %flex
    flex-direction: column

%flex-ae
    @extend %flex
    align-items: flex-end

%flex-as
    @extend %flex
    align-items: flex-start

%flex-ac
    @extend %flex
    align-items: center

%flex-je
    @extend %flex
    justify-content: flex-end

%flex-jc
    @extend %flex
    justify-content: center

%flex-cc
    @extend %flex
    align-items: center
    justify-content: center

%flex-ac-jb
    @extend %flex
    align-items: center
    justify-content: space-between

%font-sm
    font-weight: 400
    font-size: 16px
    line-height: 135%
    @media screen and ( max-width: 992px )
        font-size: 14px
%font-md
    font-weight: 400
    font-size: 18px
    line-height: 135%
    @media screen and ( max-width: 992px )
        font-size: 16px

%font-lg
    font-weight: 400
    font-size: 20px
    line-height: 135%
    @media screen and ( max-width: 992px )
        font-size: 18px

    @media screen and ( max-width: 700px )
        font-size: 14px

%font-xl
    font-weight: 500
    font-size: 24px
    line-height: 135%
    @media screen and ( max-width: 992px )
        font-size: 22px

    @media screen and ( max-width: 700px )
        font-size: 20px

%font-h2
    font-weight: 600
    font-size: 32px
    line-height: 110%
    @media screen and ( max-width: 700px )
        font-size: 24px

%font-h1
    font-weight: 700
    font-size: 48px
    line-height: 110%

    @media screen and ( max-width: 1200px )
        font-size: 42px

    @media screen and ( max-width: 993px )
        font-size: 32px

    @media screen and ( max-width: 700px )
        font-size: 24px

%cols
    @extend %flex-wrap
    --gap: 20px
    --col: 2
    gap: var(--gap)
    &>*
        flex-shrink: 0
        width: calc( (100% - var(--gap) * (var(--col) - 1)) / var(--col) )
