$font-path: "../fonts" !default

@font-face
  font-family: "Inter"
  font-style: normal
  font-weight: 400
  font-display: swap
  src: local("Inter"), local("Inter Regular"), url(#{$font-path}/Inter-Regular.woff2) format("woff2"), url(#{$font-path}/Inter-Regular.woff) format("woff")

@font-face
  font-family: "Inter"
  font-style: normal
  font-weight: 500
  font-display: swap
  src: local("Inter"), local("Inter Medium"), local("Inter-Medium"), url(#{$font-path}/Inter-Medium.woff2) format("woff2"), url(#{$font-path}/Inter-Medium.woff) format("woff")

@font-face
  font-family: "Inter"
  font-style: normal
  font-weight: 600
  font-display: swap
  src: local("Inter"), local("Inter SemiBold"), local("Inter-SemiBold"), url(#{$font-path}/Inter-SemiBold.woff2) format("woff2"), url(#{$font-path}/Inter-SemiBold.woff) format("woff")

@font-face
  font-family: "Inter"
  font-style: normal
  font-weight: 700
  font-display: swap
  src: local("Inter"), local("Inter Bold"), local("Inter-Bold"), url(#{$font-path}/Inter-Bold.woff2) format("woff2"), url(#{$font-path}/Inter-Bold.woff) format("woff")