.footer
    padding: 20px
    margin-top: auto
    text-align: center
    color: #6f6f6f
    background-color: rgba(0, 0, 0, .3)
    // backdrop-filter: blur(2px)

    .container
        gap: 16px
        &:not(.--block)
            @extend %flex-wrap
            @extend %flex-ac
    p
        @extend %font-md

    .links
        @extend %flex-cc
        gap: 10px
        a
            border-radius: 8px
            padding: 6px
            background-color: #fff

        img
            width: 18px
            height: 18px
            object-fit: contain
            object-position: center center

    @media screen and (max-width: 900px)
        p
            width: 100%
            text-align: center
        .links
            width: 100%
            margin: 0 auto
