.header
    .container
        padding: 16px var(--cont-padd) 
        @extend %flex-ac
        @extend %flex-jb
        border-left: 1px solid var(--white-fade)
        border-right: 1px solid var(--white-fade)
        background-color: rgba(0, 0, 0, .3)
        backdrop-filter: blur(2px)

    @media screen and (max-width: 700px)
        .container
            padding: 10px

        *
            font-size: 14px

.lang
    @extend %flex-ac
    gap: 10px
    &__item
        color: var(--gray)
        &:hover
            color: var(--white)
        &.--active
            color: var(--white)
            pointer-events: none

.logo
    max-width: 34px
    @media screen and (max-width: 700px)
        max-width: 24px
