
:root
    --prime: #496082
    --prime-text: #293445
    --white: #EEEFE9
    --white-fade: rgba(255, 255, 255, 0.3)
    --black: #070802
    --dark: #293445
    --gray: #898989
    --gray-light: #898989
    --bg-light: #EEEFE9
    --bg: #070802
    --cont: 980px
    --cont-padd: 20px
    --radius: 10px
    --section-spacing: 50px

$prime: var(--prime)
$white: var(--white)
$black: var(--black)
$dark: var(--dark)
$gray: var(--gray)
$bg: var(--bg)
$cont: var(--cont)
$radius-lg: var(--radius-lg)
$cont-padd: var(--cont-padd)

@media screen and (max-width: 993px)
    :root
        --section-spacing: 32px

@media screen and (max-width: 700px)
    :root
        --cont-padd: 10px
        --section-spacing: 25px
